__pycache__
.venv
venv
env
*.pyc
*.pyo
*.pyd
*.pyw
*.db
*.sqlite3
instance
.env
.git
.gitignore
Dockerfile
.dockerignore
.server.*.log
logs
*.log
.vscode
.idea
*.swp
*.swo
*~
.gitattributes
.github
docs
tests
__pycache__/
**/__pycache__/
**/*.pyc
**/*.db
**/*.sqlite
**/*.sqlite3
frontend/node_modules/
app/static/frontend/
